body {
  /*   background-color: #FFF; */
  margin: 10px;
  padding: 50px 60px;
  background-image: linear-gradient(to bottom, lightblue, #ffff66);
}

code[class*="language-"],
pre[class*="language-"] {
  color: #33cc33;
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-wrap: break-word;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  height: 200px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  /* 	background: #00001a; */
  background: #004080;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  /* 	color: #897C80; */
  color: #ffffff;
}

.token.punctuation {
  /* 	color: #897C80; */
  color: #ff6633;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  /* 	color: #e2777a; */
  color: #0099cc;
}

.token.function-name {
  /* 	color: #6196cc; */
  color: #ffff00;
}

.token.boolean,
.token.number,
.token.function {
  color: #00ccff;
  /*   	color: #fff; */
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #919098;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  /* 	color: #cc3300; */
  color: #ffff00;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  /* 	color: #CAB6CD; */
  color: #fff;
}

.token.operator,
.token.entity,
.token.url {
  color: #cab6cd;
  /*   	color: #fff; */
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: #e3655b;
}

h1 {
  color: #006080;
  font-family: "Yantramanav", sans-serif;
  font-size: 60px;
  font-weight: 500;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  /*   color: #ffeb11; */
  font-family: "Yantramanav", sans-serif;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  animation: flow 30s ease-in-out infinite;
  background: linear-gradient(-60deg, #029376,  #e69900, #be89c2, #4dffa6, #029376,  #e69900);
  background-size: 300%;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  color: #006080;
  font-family: "Yantramanav", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  text-align: left;
}

.let {
  color: #006080;
  font-family: "Yantramanav", sans-serif;
  font-size: 16px;
  font-weight: 550;
  margin: 0;
  text-align: left;
  border-top: 6px solid white;
}

.back {
  background: #006080;
  border: 1px solid #006080;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}

.back:hover {
  background: white;
  border: 1px solid #006080;
  color: #006080;
}

@media only screen and (max-width: 600px) {
  p {
    color: #006080;
    font-family: "Yantramanav", sans-serif;
    font-size: 8px;
    font-weight: 500;
    margin: 0;
    text-align: left;
  }
  h1 {
    color: #006080;
    font-family: "Yantramanav", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }
  .name {
  color: #006080;
  text-transform:uppercase;
  font-family: "Yantramanav", sans-serif;
  font-size: 26px;
  font-weight: 500;
  margin: 0;
  text-align: left;
  border-top: 6px solid white;
}
}

ul {
  color: #006080;
  font-family: "Yantramanav", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.listTitle {
  color: #006080;
  font-family: "Yantramanav", sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin: 0;
  text-align: center;
  border-top: 6px solid white;
  /*     text-decoration: underline;
  text-decoration-color: white;
  text-decoration-style: wavy; */
}

.listSubTitle {
  color: #20a3aa;
  font-family: "Yantramanav", sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  text-align: center;
  /*   text-decoration: underline;
  text-decoration-color: #42ebf4;
  text-decoration-style: wavy; */
}

h3 {
  /*   color: #ffeb11; */
  font-family: "Yantramanav", sans-serif;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  animation: flow 30s ease-in-out infinite;
  background: linear-gradient(-60deg,#00cc44, #003399, #0040ff,#ff9933, #00b36b);
  background-size: 300%;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  /*   border-style: inset;
  border-width: 1px; */
  border: 3px solid white;
}

h4 {
  font-family: "Yantramanav", sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  animation: flow 30s ease-in-out infinite;
  background: linear-gradient(-60deg, #029376,#003399, #e69900, #be89c2, #4dffa6, #029376,  #e69900);
  background-size: 300%;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
